# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are created by a CI server and aren't committed to VCS
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.hypothesis/

# Translations
*.mo
*.pot

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask specific
instance/
.webassets-cache

# Scrapy specific
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# IDE / Editor specific files
# In some cases, you might want to track .vscode/settings.json or .idea/runConfigurations
.idea/
.vscode/
*.swp
*~
.DS_Store

# Type checker caches
.mypy_cache/
.pyre/
.dmypy.json
dmypy.json

# Python version management
.python-version